<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Cursos</h1>
    <table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td >
			<a th:text="${course.id}"></a>
		</td>
        <td th:text="${course.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>