<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Nombre: <i th:text="${student.name}"></i></h2>
	<h2>Email: <i th:text="${student.email}"></i></h2>
    <br>
	
    <h2>CURSOS:</h2>
	
	<form action="#" th:action="@{/students/addCourses}"  method="post" style="width:auto;display: flex;gap: 5px;">
		<input type="hidden" th:value="${student.id}" name="student_id" >
	    <div class="select" th:if="${not #lists.isEmpty(notJoniedCourses)}" style="display:flex;flex-direction:column;">
			<i>Sin cursar</i>
			<select name="courses_add[]"  multiple="multiple" style="padding: 2px;flex: 1;">
		    	<th:block th:each="course : ${notJoniedCourses}">
			    	<option th:value="${course.id}" th:text="${course.name}" ></option>
				</th:block>
		    </select>
		    <input type="submit" value="Cursar">
		</div>
		<div class="select" th:if="${not #lists.isEmpty(student.courses)}" style="display:flex;flex-direction:column;">
			<i>Cursando</i>
			<select name="courses_remove[]"  multiple="multiple" style="padding: 2px;flex: 1;">
		    	<th:block th:each="course : ${student.courses}">
			    	<option th:value="${course.id}" th:text="${course.name}" ></option>
				</th:block>
		    </select>
		    <input type="submit" value="Abandonar">
		</div>
    </form>
    
    
    
</body>
</html>