<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Estudiantes</h1>
    <table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Edad</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td >
			<a th:text="${student.id}" th:href="@{'/students/' + ${student.id}}"></a>
		</td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>